<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/virus.css"/>
		<link rel="stylesheet" type="text/css" href="css/font-awesome.css"/>
		<script type="text/javascript" src="https://echarts.cdn.apache.org/examples/vendors/echarts/echarts.min.js?_v_=1590434554116"></script>
		<script type="text/javascript" src="js/china.js"></script>
	</head>
	<body>
		<div id="app">
			<div class="banner">
				<img class="banner_img" src="img/top.jpg" >
			</div>
			<div class="container">
				<div class="header">
					<div class="title">中国疫情</div>
					<div class="subtitle">来源：中国及各地卫建委每日发布</div>
					<div class="subtitle">更新：2020-05-27 08:53:36(北京时间)</div>
				</div>
				<div class="data">
					<div class="flexbox">
						<div class="flexitem">
							<div>125</div>
							<div>现存确诊</div>
							<div>昨日-6</div>
						</div>
						<div class="flexitem">
							<div>6</div>
							<div>现存疑似</div>
							<div>昨日1</div>
						</div>
						<div class="flexitem">
							<div>5</div>
							<div>现存重症</div>
							<div>昨日-2</div>
						</div>
					</div>
					
					<div class="flexbox">
						<div class="flexitem">
							<div>125</div>
							<div>现存确诊</div>
							<div>昨日-6</div>
						</div>
						<div class="flexitem">
							<div>6</div>
							<div>现存疑似</div>
							<div>昨日1</div>
						</div>
						<div class="flexitem">
							<div>5</div>
							<div>现存重症</div>
							<div>昨日-2</div>
						</div>
					</div>
				</div>
				<div class="map">
					
					<div id="map" style="width:100%;height: 400px;"></div>
										
				</div>
				<div class="table">
					<div class="t_header">
						<div class="t_column">地区</div>
						<div class="t_column">确诊</div>
						<div class="t_column">死亡</div>
						<div class="t_column">治愈</div>
					</div>

                    <div v-for="(p,index) in displaylist" :key="p.provinceShortName">
						 <div class="t_row" @click="toggleCity(p,index)">
						 	<div class="t_column">{{p.provinceShortName}}</div>
						 	<div class="t_column">{{p.confirmedCount}}</div>
						 	<div class="t_column">{{p.deadCount}}</div>
						 	<div class="t_column">
							{{p.curedCount}}
							   <i v-if="!p.cityDisplayed" class="fa fa-caret-down" aria-hidden="true" style="font-size:30px;color:darkgray;"></i>
							   <i v-else class="fa fa-caret-up" aria-hidden="true" style="font-size:30px;color:darkgray;"></i>
							</div>							
						 </div>
						 <div class="cities" :class="{hidecity:!p.cityDisplayed}">
						 	<div class="city" v-for="c in p.cities">
						 		<div class="t_column">{{c.cityName}}</div>
						 		<div class="t_column">{{c.confirmedCount}}</div>
						 		<div class="t_column">{{c.deadCount}}</div>
						 		<div class="t_column">{{c.curedCount}}</div>
						 	</div>						 	
						 </div>
					</div>
										
				</div>
			
			    <div style="text-align: center;" @click="flag = !flag">{{message}}</div>
			
			</div>
		</div>
		<script type="text/javascript" src="js/virus.js"></script>
	</body>
</html>
